# Node modules
node_modules/

# Python virtual env
env/
venv/
backend/env/
backend/venv/

# Environment variables
.env
.env.local
backend/.env
frontend/.env.local

# VS Code settings
.vscode/

# Build folders
dist/
build/

# Python cache
__pycache__/
*.pyc

# Logs
*.log